apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: expensy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: anne2693/expensy-backend:latest
          ports:
            - containerPort: 8706
          env:
            - name: PORT
              value: "8706"
            - name: DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: expensy-secrets
                  key: database_uri
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: expensy-secrets
                  key: redis_password
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: expensy
spec:
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 8706