apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: expensy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: expensy-secrets
                  key: mongo_user
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: expensy-secrets
                  key: mongo_pass
---
apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: expensy
spec:
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017

      