apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
stringData:
  DATABASE_URI: "mongodb://root:example@mongo:27017/expensy?authSource=admin"
  REDIS_PASSWORD: "someredispassword"

