name: Expensy CI/CD

on:
  push:
    branches:
      - main

env:
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Required for docker build on GitHub runners
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push backend
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}:${IMAGE_TAG} ./expensy_backend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/expensy-backend:${IMAGE_TAG}

      - name: Build & push frontend
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/expensy-frontend:${IMAGE_TAG} ./expensy_frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/expensy-frontend:${IMAGE_TAG}

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
    cluster-name: ${{ secrets.AKS_CLUSTER_NAME }}

      - name: Deploy with Helm
        run: |
          helm upgrade --install expensy ./helm/expensy \
            --namespace expensy-dev \
            --create-namespace \
            --set backend.image.tag=${IMAGE_TAG} \
            --set frontend.image.tag=${IMAGE_TAG} \
            --atomic --wait


